html, body {padding: 0px; margin: 0px; overflow: auto; min-height: 100%; position: relative;}
body {font-family: Poppins,Helvetica,sans-serif; background-color: #F6F6F6;}


header {background-color: #fff; box-shadow: 0 1px 5px rgb(0 0 0 / 20%); position: fixed; top: 0px; left: 0px; width: 100%; z-index: 99; height: 72px; line-height: 72px;}
.logo img {width: 180px;}
header .header-wrappr {display: flex; align-items: center; justify-content: space-between;}
.right-navigation ul {display: flex; margin: 0px; align-items: center; list-style: none;}
.right-navigation ul li a {display: block; padding: 0px 15px; font-size: 14px; color: #000;}
.right-navigation ul li a:hover {text-decoration: none; color: #007bff;}
.right-navigation ul li a button {background: #007bff; box-shadow: 0px 1px 4px rgba(26, 111, 239, 0.19); color: #fff; font-size: 14px; padding: 6px 20px;}


.banner-container {padding-top: 100px;}
.banner-container .banner-wrappr {display: flex; align-items: center;}
.banner-wrappr .banner-txt {width: 60%;}
.banner-wrappr .banner-image {width: 40%;}

.banner-txt h1 {font-size: 48px; font-weight: 700;}
.banner-txt p {font-size: 20px; color: #666666;}
.banner-txt button {background: #007bff; color: #fff; padding: 6px 30px; margin-top: 30px;}

.daily-banner-container {background: #fff;  box-shadow: 0 1px 3px rgb(0 0 0 / 20%); margin-top: 50px; padding: 50px 0px;}
.daily-banner-wrappr h2 {margin: 0px; font-size: 32px; text-align: center; font-weight: 700;}
.subtitle {text-align: center; margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #eaeaea;}
.daily-banner-wrappr p {margin: 0px; font-size: 14px;  color: #636363; margin-top: 6px;}
.daily-list-box {margin-top: 30px;}
.daily-list {margin-bottom: 20px; padding: 0px 20px;}
.daily-list.grey {background: #F6F6F6; padding: 20px;}
.daily-list h4 {font-size: 18px; font-weight: 600;} 


.our-section { background: #007bff; padding: 50px 0px;}
.our-section-wrappr {display: flex; align-items: center; justify-content: space-between;}
.our-section-wrappr .our-item {padding: 20px;}
.our-item h4 {font-size: 42px; font-weight: 700; color: #fff; text-align: center;}
.our-item p {font-weight: 500; text-align: center; font-size: 14px; color: #fff;}


.make-life-better {padding-top: 70px; padding-bottom: 40px; background-color: #fff;}
.make-life-wrappr h2 {margin: 0px; font-size: 32px; text-align: center; font-weight: 700;}

.well-being-section {margin-top: 50px; display: flex; align-items: center;}
.well-being-section .well-being-img {width: 40%;}
.well-being-img img {width: 100%;}
.well-being-section .well-being-list {width: 60%; padding-left: 40px;}
.well-being-list h4 {font-size: 20px; font-weight: 600; color: #000;}
.well-being-list ul {margin: 0px; padding: 0px; margin-top: 15px; padding-left: 15px;}
.well-being-list ul li {padding: 5px 0px; font-size: 14px;}


.make-life-outcome {padding-bottom: 40px;}

footer {background: #000; padding: 50px 0px 20px;}

.footer-wrappr {display: flex; align-items: flex-start;}
.footer-wrappr .footer-items {width: 33.33%; padding: 15px;}
.footer-logo img {width: 180px; margin-bottom: 20px;}

.footer-items p {color: #fff; font-size: 14px; font-weight: 300;}
.footer-items h4 {color: #fff; font-size: 18px; padding-bottom: 10px; border-bottom: 1px solid #383838; margin-bottom: 20px;}

.contact-address .adress-1 {font-size: 14px; color: #fff; font-weight: 300; margin-bottom: 10px;}

.links ul {padding: 0px; margin: 0px; list-style: none; color: #fff;}
.links ul li a {display: block; color: #fff;  text-decoration: none;font-size: 14px; font-weight: 300; padding: 5px 0px;}

.appointment {background: #272727; display: flex; align-items: center; padding: 10px; border-radius: 10px;}
.appointmenmt-txt p{margin: 0px 0px 8px;}
.appointmenmt-txt h5 {margin: 0px;}
.appointment-img {width: 50px; height: 50px; line-height: 50px; text-align: center; background: #fff; border-radius: 50%;}
.appointment-img img {width: 30px;}

.appointmenmt-txt h5 {color: #fff;}




.service-banner {padding-top: 72px; background: #007bff; height: 300px; line-height: 300px; text-align: center; display: flex; align-items: center;}
.service-banner h2 {font-size: 42px; color: #fff;}

.service-area {margin-top: 70px;}
.service-wrappr {display: flex; align-items: flex-start; flex-wrap: wrap;}
.service-wrappr .service-item {width: calc(100% / 3 - 15px); margin-bottom: 20px; height: 200px; border-bottom: 4px solid #007bff; border-radius: 10px; text-align: center; background: #fff; padding: 20px; margin-right: 15px; box-shadow: 0 1px 3px rgb(0 0 0 / 10%);}
.service-wrappr .service-item:nth-child(3),.service-wrappr .service-item:nth-child(6) {margin-right: 0px;}
.service-item h4 {font-size: 18px; font-weight: 600; margin-bottom: 15px;}
.service-item p {font-size: 14px; font-weight: 300; margin-bottom: 5px;}
.service-item p:last-child {margin: 0px;}

.note-section {margin: 40px 0px; text-align: center;}
.note-section p {font-size: 14px; font-weight: 300;}


.self-help-section {margin-top: 72px;}
.self-help-section .self-help-wrappr {display: flex; align-items: flex-start; flex-wrap: wrap;}
.self-help-section .self-help-itme {width: calc(100% / 4 - 15px); height: 210px; margin-bottom: 20px; border-bottom: 4px solid #007bff; border-radius: 10px; text-align: center; background: #fff; padding: 20px; margin-right: 15px; box-shadow: 0 1px 3px rgb(0 0 0 / 10%);}
.self-help-section .self-help-itme:nth-child(4) {margin-right: 0px;}

.blog-section {margin-top: 40px; padding-top: 50px; background-color: #fff; padding-bottom: 50px;}
.self-help-img img {width: 100px; margin-bottom: 20px;}
.self-help-img {height: 150px;}

.blog-wrappr h2 {font-size: 42px; font-weight: 700; text-align: center;}
.blog-box {margin-top: 40px;}
.blog-box {display: flex; align-items: flex-start; flex-wrap: wrap;}
.blog-box .blog-itme {width: calc(100% / 4 - 15px); margin-right: 15px;}
.blog-box .blog-itme img {width: 100%;}

.sidebar {position: fixed; background: #fff; width: 280px; height: 100%; top: 0px; left: -300px; transition: 0.5s; z-index: 122;}
.sidebar.active {left: 0px; transition: 0.5s;}
.logo .menu-icon img {width: 24px; margin-right: 10px; cursor: pointer;}
.header-wrappr .logo {display: flex; align-items: center;}

.menu-icon {display: none;}
.overley {position: fixed; display: none; width: 100%; height: 100%; background: rgb(0 0 0 / 9%); top: 0px; left: 0px; z-index: 110;}

.side-bar-logo {padding: 20px; margin-top: 20px;}
.side-bar-logo img {width: 180px;}
.sidebar-wrappr ul {margin-top: 40px; padding: 0px; margin: 0px; list-style: none;}
.sidebar-wrappr ul li a {display: block; padding: 10px 20px; font-size: 14px; color: #000; text-decoration: none;}
.sidebar-wrappr ul li a:hover {background: #f6f6f6; color: #007bff;}

@media screen and (max-width: 992px) {
    
    .header-wrappr .right-navigation .mobile-hide {display: none;}
    .overley.active {display: block;}
    .menu-icon {display: block;}
    .banner-txt h1 {font-size: 32px;}
    .banner-txt p {font-size: 14px;}
    .banner-image img {width: 100%;}
    .footer-wrappr .footer-items {width: 50%;}
    .footer-wrappr {flex-wrap: wrap;}
    .right-navigation ul li a button {padding: 5px 14px; font-size: 12px;}
    .right-navigation ul li a {padding: 0px;}
    .logo img {width: 130px;}
    .service-wrappr .service-item {width: calc(100% / 2 - 15px);}
    .service-wrappr .service-item:nth-child(3) {margin-right: 15px;}
    .service-wrappr .service-item:nth-child(2), .service-wrappr .service-item:nth-child(4),
    .service-wrappr .service-item:nth-child(6) {margin-right: 0px;}

    .self-help-section .self-help-itme {width: calc(100% / 2 - 15px);}
    .service-wrappr .service-item:nth-child(3) {margin-right: 15px;}
    .service-wrappr .service-item:nth-child(2), .service-wrappr .service-item:nth-child(4) {margin: 0px;}
    .blog-box .blog-itme {width: calc(100% / 2 - 15px); margin-bottom: 15px;}

  }

  @media screen and (max-width: 767px) {
    
    .header-wrappr .right-navigation .mobile-hide {display: none;}
    .banner-txt h1 {font-size: 32px;}
    .banner-txt p {font-size: 14px;}
    .banner-image img {width: 80%; margin: 0px auto;}
    .footer-wrappr .footer-items {width: 100%;}
    .footer-wrappr {flex-wrap: wrap;}
    .banner-wrappr .banner-txt {width: 100%; text-align: center;}
    .banner-wrappr .banner-image {width: 100%; text-align: center; margin-top: 30px;}
    .banner-container .banner-wrappr {display: block;}

    .our-item h4 {font-size: 26px;}
    .our-item p {font-size: 13px;}
    .make-life-wrappr h2 {font-size: 24px;}
    .well-being-list h4 {font-size: 16px;}
    .well-being-list ul li {font-size: 13px;}

    .daily-banner-wrappr h2 {font-size: 24px;}
    .daily-banner-wrappr p {font-size: 13px;}
    .daily-list h4 {font-size: 16px;}
    .daily-banner-wrappr p {font-size: 13px;}

  }


  @media screen and (max-width: 576px) { 

    .banner-txt h1 {font-size: 26px;}
    .our-section-wrappr {display: block;}
    .well-being-section {display: block;}
    .well-being-section .well-being-img {width: 100%;}
    .make-life-outcome .well-being-img img {margin-top: 30px;}
    .well-being-section .well-being-list {width: 100%; margin-top: 30px;}

    .service-wrappr .service-item {width: 100%;}
    .service-wrappr .service-item:nth-child(3) {margin-right: 0px;}
    .service-wrappr .service-item:nth-child(2), .service-wrappr .service-item:nth-child(4),
    .service-wrappr .service-item:nth-child(6) {margin-right: 0px;}

    .self-help-section .self-help-itme {width: 100%;}
    .service-wrappr .service-item:nth-child(3) {margin-right: 0px;}
    .service-wrappr .service-item:nth-child(2), .service-wrappr .service-item:nth-child(4) {margin: 0px;}
    .blog-box .blog-itme {width: 100%; margin-bottom: 15px;}

    .service-banner h2 {font-size: 24px;}
    .service-banner {height: 220px; line-height: 220px;}


  }